body {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #f4f4f4;
    color: #333;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid silver;
}

.form-container h2 {
    font-family: 'Georgia', 'Times New Roman', serif;
    margin-bottom: 20px;
}


textarea,
input[type="text"],
select {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #00438b;
    border-radius: 5px;
}

.textarea-container {
    margin-bottom: 30px;

}

div {
    margin-bottom: 20px;
}

.textarea-container label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 16px;
}

textarea {
    padding: 10px;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: bold;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn {

    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #00438b;
    box-shadow: 0 4px 6px rgba(169, 169, 169, 0.6);

}

.btn.guardar {
    border-color: black;
    border: 3px solid black;
}

.btn.borrar {
    border-color: #dc3545;
}

.btn:active {
    transform: scale(0.98);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-crear-noticia {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.btn-Estado {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}


.btn-estado.borrador:hover {
    color: red;
    box-shadow: 0 4px 6px rgba(169, 169, 169, 0.6);
}


.btn-estado.revision:hover {
    color: blue;
    box-shadow: 0 4px 6px rgba(169, 169, 169, 0.6);
}


.btn-estado.publicado:hover {
    color: green;
    box-shadow: 0 4px 6px rgba(169, 169, 169, 0.6);
}


.btn-estado:active {
    transform: scale(0.98);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}