<div class="form-container">
    <h2>Editar - Noticia</h2>
    <form [formGroup]="contenidoForm">

        <div>
            <label for="titularInput">Titular:</label>
            <br>
            <input type="text" id="titularInput" formControlName="titular">
        </div>

        <div class="textarea-container">
            <label for="contenido">Contenido del artículo:</label>
            <textarea id="contenido" formControlName="contenido" rows="10"></textarea>
        </div>
        <div>
            <label for="seccionesSelect">Sección:</label>
            <br>
            <select id="seccionesSelect" formControlName="secciones">
                <option value="publicado">Principal</option>
                <option value="revisado">Secundaria</option>
                <option value="borrador">Destacada</option>
            </select>
        </div>

        <div>
            <label for="slugInput">Slug:</label>
            <br>
            <input type="text" id="slugInput" formControlName="slug">
        </div>

        <div>
            <label for="importanciaSelect">Importancia:</label>
            <br>
            <select id="importanciaSelect" formControlName="importancia">
                <option value="alta">Alta</option>
                <option value="media">Media</option>
                <option value="baja">Baja</option>
            </select>
        </div>

        <div>
            <label for="estadoSelect">Estado:</label>
            <br>
            <select id="estadoSelect" formControlName="estado">
                <option value="publicado">Publicado</option>
                <option value="revisado">Revisado</option>
                <option value="borrador">Borrador</option>
            </select>
        </div>

        <div>
            <label for="fecha_publicacionInput">Fecha de publicación:</label>
            <br>
            <input type="text" id="fecha_publicacionInput" formControlName="fecha_publicacion">
        </div>

        <div>
            <label for="seccionesSelect">Sección:</label>
            <br>
            <select id="seccionesSelect" formControlName="secciones">
                <option value="publicado">Principal</option>
                <option value="revisado">Secundaria</option>
                <option value="borrador">Destacada</option>
            </select>
        </div>

        <div>
            <label for="urlImagenInput">Imagen (URL):</label>
            <br>
            <input type="text" id="urlImagenInput" formControlName="urlImagen">
        </div>

    </form>

    <div class="button-container">
        <button type="button" class="btn guardar" (click)="onGuardar()">Guardar cambios</button>
        <button type="button" class="btn borrar" (click)="onBorrar()">Borrar</button>
    </div>
</div>