<div class="m-3 center">
    <div class="row justify-content-center">

        <div class="card m-3 p-3 col-xs-12 col-md-10 col-xl-6">

            @if(token == undefined){
            <h4>¡Hemos oído que quieres marcharte!</h4>
            <p> Si estás seguro entonces escribe tu correo electrónico abajo.</p>
            <div class="form-control border-0">
                <form [formGroup]="bajaSuscripcionForm" (ngSubmit)="getDataBajaSuscripcion()">

                    <div class="email form-text">
                        <label class="form-label" for="email"></label>
                        <input class="form-control" type="text" id="email" placeholder="Introduce tu email"
                            formControlName="email">
                    </div>
                    <input class="btn btn-dark my-2" type="submit" value="Quiero darme de baja"
                        [disabled]="!bajaSuscripcionForm.valid">
                </form>
            </div>
            <div> <img class="img-fluid" src="./images/dogalert.jpg" alt="Sad dog"></div>

            }
            @else{
            <div>
                <h4>¡Hasta otra!</h4>
                <p>Sentimos mucho que nos dejes <strong>{{email}}</strong>. Per siempre serás bienvenido.</p>
                <p>La baja de suscriptor se ha realizado correctamente. Ya no recibirás más correos con las noticias.
                </p>
            </div>
            <div> <img class="img-fluid" src="./images/saddog.jpg" alt="Sad dog"></div>
            }

        </div>
    </div>
</div>