.flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.25rem;
    overflow: visible;
}

.slide-left {
    opacity: 0.5;
    /* Comienza siendo invisible */
    transform: translateX(100px);
    /* Comienza desplazado hacia abajo */
    animation: slideLeft 0.8s ease-out forwards;
    /* Define la animación */
}

@keyframes slideLeft {
    from {
        opacity: 0.5;
        transform: translateX(50px);
        /* Estado inicial */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Estado final */
    }
}