<div class="container mt-4"></div>

<div>
    <button style="margin-bottom: 20px;" type="button" class="btn btn-primary"
        [routerLink]="['/dashboard', 'noticias']">Volver</button>
</div>

<h2 class="mb-4">Crear Noticia</h2>

<div class="card p-4">
    <h2 class="card-title">Creador - Noticia</h2>
    <form [formGroup]="crearNoticiaForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="titular" class="form-label">Titular del artículo:</label>
            <input type="text" id="titular" class="form-control" formControlName="titular">
        </div>

        <div class="mb-3">
            <label for="texto" class="form-label">Texto del artículo:</label>
            <textarea id="texto" class="form-control" rows="5" formControlName="texto"></textarea>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria:</label>
            <select id="categoria" class="form-select" formControlName="categoria">
                <option value="">Seleccione una categoria</option>
                @for (categoria of arrCategorias; track categoria.id) {
                <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Importancia:</label>
            <div>
                <div class="form-check">
                    <input type="radio" id="importanciaBaja" class="form-check-input" formControlName="importancia"
                        value="baja">
                    <label for="importanciaBaja" class="form-check-label">Baja</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="importanciaMedia" class="form-check-input" formControlName="importancia"
                        value="media">
                    <label for="importanciaMedia" class="form-check-label">Media</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="importanciaAlta" class="form-check-input" formControlName="importancia"
                        value="alta">
                    <label for="importanciaAlta" class="form-check-label">Alta</label>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Sección:</label>
            <div>
                <div class="form-check">
                    <input type="radio" id="seccionPrincipal" class="form-check-input" formControlName="seccion"
                        value="principal" name="seccion">
                    <label for="seccionPrincipal" class="form-check-label">principal</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="seccionSecundario" class="form-check-input" formControlName="seccion"
                        value="secundario" name="seccion">
                    <label for="seccionSecundario" class="form-check-label">secundario
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" id="seccionDestacado" class="form-check-input" formControlName="seccion"
                        value="destacado" name="seccion">
                    <label for="seccionDestacado" class="form-check-label">Destacado</label>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="urlImagen" class="form-label">Url de la imagen:</label>
            <input type="text" id="urlImagen" class="form-control" formControlName="urlImagen">
        </div>

        <div class="mb-3">
            <label for="slug" class="form-label">Slug:</label>
            <input type="text" id="slug" class="form-control" formControlName="slug">
        </div>

        <div class="mb-3">
            <label for="estado" class="form-label">Estado:</label>
            <select id="estado" class="form-select" formControlName="estado">
                <option value="">Seleccione un estado</option>
                <option value="revision">Revision</option>
                <option value="borrador">Borrador</option>
                <option value="publicado">Publicado</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Jefe Editor</label>
            <select id="jefeEditor" class="form-select" formControlName="jefeEditor">
                <option value="">Seleccione un jefe editor</option>
                <option value="1"></option>
                <!-- ESPERAR PETICION DE EDITORES -->
                <!-- ESPERAR PETICION DE EDITORES -->
                <!-- ESPERAR PETICION DE EDITORES -->
                <!-- ESPERAR PETICION DE EDITORES -->
                <!-- ESPERAR PETICION DE EDITORES -->
            </select>
        </div>

    </form>
    <div class="button-container mt-3">
        <button style="margin-right: 10px;" class="btn btn-success" type="submit" (click)="onSubmit()">Crear
            Noticia</button>
    </div>
</div>