body {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #f4f4f4;
    color: #333;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #007bff;
}

.form-container h2 {
    font-family: 'Georgia', 'Times New Roman', serif;
    margin-bottom: 20px;
}


textarea,
input[type="text"],
select {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #00438b;
    border-radius: 5px;
}

.textarea-container {
    margin-bottom: 30px;

}

div {
    margin-bottom: 20px;
}

.textarea-container label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 16px;
}

textarea {
    padding: 10px;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: bold;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
}


.btn:active {
    transform: scale(0.98);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-crear-noticia {
    background-color: #40b56d;
    color: #fff;
}

/* ANimaciones */

.slide-up {
    transform: translateY(100px);
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CSS de botones */
.miBtn {
    appearance: none;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.miBtn:disabled {
    pointer-events: none;
}

.miBtn:hover {
    color: black;
    background-color: #40b56d;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-5px);
}

.miBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

/*--------*/
/* CSS de botones */
.miBtn2 {
    appearance: none;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    height: 65px;
}

.miBtn2:disabled {
    pointer-events: none;
}

.miBtn2:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-5px);

    .colortext {
        color: black;
    }
}

.miBtn2:active {
    box-shadow: none;
    transform: translateY(0);
}

.colortext {
    color: white;
}

/* CSS de checkboxes */

.btn-group[aria-label="Secciones"] .btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.btn-group[aria-label="Secciones"] .btn {
    padding: 10px 20px;
    border: 2px solid #1A1A1A;
    background-color: white;
    color: #1A1A1A;
    transition: all 0.3s ease;
    font-weight: 600;
}

.btn-group[aria-label="Secciones"] .btn:hover {
    background-color: #f0f0f0;
}

.btn-group[aria-label="Secciones"] .btn-check:checked+.btn {
    background-color: #1A1A1A;
    color: white;
}

.btn-group[aria-label="Secciones"] .btn:first-of-type {
    border-radius: 8px 0 0 8px;
}

.btn-group[aria-label="Secciones"] .btn:last-of-type {
    border-radius: 0 8px 8px 0;
}

/* CSS de checkboxes */

.btn-group[aria-label="Importancia"] .btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.btn-group[aria-label="Importancia"] .btn {
    padding: 10px 20px;
    border: 2px solid #1A1A1A;
    background-color: white;
    color: #1A1A1A;
    transition: all 0.3s ease;
    font-weight: 600;
}

.btn-group[aria-label="Importancia"] .btn:hover {
    background-color: #f0f0f0;
}

.btn-group[aria-label="Importancia"] .btn-check:checked+.btn {
    background-color: #1A1A1A;
    color: white;
}

.btn-group[aria-label="Importancia"] .btn:first-of-type {
    border-radius: 8px 0 0 8px;
}

.btn-group[aria-label="Importancia"] .btn:last-of-type {
    border-radius: 0 8px 8px 0;
}