.miBtn {
    border-radius: 5px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.disabled-btn {
    background-color: #ccc;
    color: #666;
}

/* styles.css o styles.scss */
.slide-up {
    /* Comienza siendo invisible */
    transform: translateY(100px);
    /* Comienza desplazado hacia abajo */
    animation: slideUp 0.5s ease-out forwards;
    /* Define la animación */
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}