<div class="container noticias">
    <section class="noticias-destacadas">
        <h2>Tendencias:</h2>
        <app-destacados></app-destacados>
    </section>
    <div class="noticias-generales-y-secundarias">
        <section id="noticias-generales">
            <h2>Última hora:</h2>
            <app-noticias-generales></app-noticias-generales>
        </section>
        <section id="noticias-secundarias">
            <h2>Noticias secundarias:</h2>
            <app-noticias-secundarias></app-noticias-secundarias>
        </section>
    </div>
</div>