.noticias-generales-y-secundarias {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.875rem;
    margin-top: -0.9375rem;
}

.slide-left {
    opacity: 0.5;
    /* Comienza siendo invisible */
    transform: translateX(50px);
    /* Comienza desplazado hacia abajo */
    animation: slideLeft 0.8s ease-out forwards;
    /* Define la animación */
}

@keyframes slideLeft {
    from {
        opacity: 0.5;
        transform: translateX(50px);
        /* Estado inicial */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Estado final */
    }
}

/* styles.css o styles.scss */
.slide-up {
    opacity: 0.5;
    /* Comienza siendo invisible */
    transform: translateY(50px);
    /* Comienza desplazado hacia abajo */
    animation: slideUp 0.8s ease-out forwards;
    /* Define la animación */
}

@keyframes slideUp {
    from {
        opacity: 0.5;
        transform: translateY(50px);
        /* Estado inicial */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Estado final */
    }
}

@media (width <=46.875rem) {
    .widgets {
        display: none;
    }

    .contenedor.grid {
        grid-template-columns: 1fr;
    }

    .noticias-generales-y-secundarias {
        grid-template-columns: 1fr;
    }
}

@media (46.9375rem <=width <=62.5rem) {

    .widgets {
        display: none;
    }

    .contenedor.grid {
        grid-template-columns: 1fr;
    }
}