.noticias-generales-y-secundarias {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.875rem;
    margin-top: -0.9375rem;
}

.contenedor.grid {
    display: grid;
    grid-template-columns: 7fr 2fr;
    column-gap: 2rem;
}

aside {
    position: sticky;
    top: calc(3.6875rem);
    align-self: start;
}