<a [routerLink]="['/noticias', miNoticia?.slug_cat, miNoticia?.slug]">
    <figure class="img-container">
        <img [src]="miNoticia?.imagen" class="d-block w-100 slider-img" [alt]="miNoticia?.titular">
    </figure>
    <div class="carousel-caption d-md-block">
        <h5>{{miNoticia?.titular}}</h5>
        <!-- Se utiliza [innerHTML] para permitir que las etiquetas <p> y otros elementos HTML que vienen en el texto de
                    la base de datos se rendericen correctamente en la vista. -->

        <div [innerHTML]="miNoticia?.texto | recortarTexto | traducirHtml"></div>
    </div>
</a>