<div class="div-noticia">
    <article>

        <div class="content-left">
            <h3>{{miNoticia?.titular}}</h3>
            <img [src]="miNoticia?.imagen" [alt]="miNoticia?.titular">
        </div>

        <div class="caja-derecha">
            <div class="noticiaTexto">
                <!-- Se utiliza [innerHTML] para permitir que las etiquetas <p> y otros elementos HTML que vienen en el texto de
                    la base de datos se rendericen correctamente en la vista. -->
                <p>{{miNoticia?.texto | recortarTexto}}</p>
            </div>
            <div class="content-right">
                @if (miNoticia?.estado === 'borrador') {
                <h3 class="text-borrador">•{{miNoticia?.estado | uppercase}}</h3>
                }
                @if (miNoticia?.estado === 'publicado') {
                <h3 class="text-publicado">•{{miNoticia?.estado | uppercase}}</h3>
                }
                @if (miNoticia?.estado === 'revision') {
                <h3 class="text-revision">•{{miNoticia?.estado | uppercase}}</h3>
                }
            </div>
            <button class="miBtn" [routerLink]="['/dashboard', 'editar-noticia', miNoticia?.id]"
                aria-label="Editar noticia">
                Editar <i class="fa-solid fa-pen-to-square colortext"></i>
            </button>
        </div>

    </article>
</div>