.noticia {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 5px;
    transition: 0.2s;
    padding: 1rem;
    height: 100%;

    img {
        height: 4.6875rem;
        border: .0625rem solid black;
        padding: 6.25rem;
        width: 100%;
    }

    figure {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover {
        cursor: pointer;
        transform: scale(101%);
    }
}

a {
    text-decoration: none;
}



.borrador {
    color: red;

    span {
        text-shadow: 0px 0px 13px rgba(255, 0, 0, 0.6);
    }
}

.publicado {
    color: green;

    span {
        text-shadow: 0px 0px 13px rgba(0, 255, 0, 0.6);
    }
}

.revision {
    span {
        text-shadow: 0px 0px 13px rgba(255, 215, 0, 0.6);
    }
}