/* Para estados */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* Para lo demas */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.family {
    font-family: 'Newsreader', serif;
}

.familyEstado {
    font-family: 'Bebas Neue', sans-serif;
}

.div-noticia {
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    margin: 15px;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}

article {
    display: flex;
    width: 100%;
}

.noticiaTexto {
    flex: 1;
    margin-right: 80px;
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 10px;
    width: 20rem;
}

img {
    max-width: 35%;
    height: auto;
    border-radius: 8px;
}

.text-borrador,
.text-revision,
.text-publicado {
    font-weight: bold;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.text-borrador {
    color: #ff4141;
}

.text-revision {
    color: #00cbea;
}

.text-publicado {
    color: #23d74d;
}

.content-right {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.content-left {
    display: flex;
    flex-direction: column;
}

.caja-derecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*--------*/
/* CSS de botones */
.miBtn {
    appearance: none;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    height: 65px;
}

.miBtn:disabled {
    pointer-events: none;
}

.miBtn:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-5px);

    .colortext {
        color: black;
    }
}

.miBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

.colortext {
    color: white;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Media queries */

@media (width <=46.875rem) {

    .div-noticia {
        flex-direction: column;
    }

    article {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .caja-derecha {
        flex-direction: column;
    }

    .content-right,
    .content-left {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .noticiaTexto {
        margin-right: 0;
        width: auto;
        font-size: 0.8rem;
    }
}

@media (46.9375rem <=width <=62.5rem) {

    .div-noticia {
        flex-direction: column;
    }

    .div-noticia {
        width: 100vw;
    }
}