/* Customize the label (the container) */
.ultimas-populares {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.seleccion {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-around;
    padding: 0.25rem;
    border-radius: calc(5px + 0.25rem);
}

.seleccion::before {
    content: '';
    position: absolute;
    width: calc(50% - 0.25rem);
    height: calc(100% - 0.5rem);
    left: 50%;
    /* top: 50%; */
    background-color: white;
    border-radius: calc(5px + 0.1rem);
    transition: transform 0.3s ease;
}

.seleccion.active::before {
    transform: translateX(-100%);
}

label {
    border-radius: 5px;
    padding: 0.25rem;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

label.active {
    color: black;
    transition: 0.3s ease;
}

/* Hide the browser's default radio button */
label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.lista-noticias {
    padding: 1rem;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

a {
    color: black;
    text-decoration: none;
}