.noticia {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    transition: 0.2s;
    padding: 1rem;

    img {
        height: 4.6875rem;
        border: .0625rem solid black;
        padding: 6.25rem;
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        transform: scale(101%);
    }
}

a {
    text-decoration: none;
}