<a [routerLink]="['/noticias', miNoticia?.slug_cat, miNoticia?.slug]">
    <article class="noticia">
        <figure>
            @if (esNoticiaGeneral) {
            <img [src]="miNoticia?.imagen" [alt]="miNoticia?.titular">
            }

            <figcaption>
                <h3>{{miNoticia?.titular}}</h3>
            </figcaption>
        </figure>
        @if (esNoticiaGeneral) {
        <!-- Se utiliza [innerHTML] para permitir que las etiquetas <p> y otros elementos HTML que vienen en el texto de
            la base de datos se rendericen correctamente en la vista. -->
        <div [innerHTML]="miNoticia?.texto | recortarTexto | traducirHtml">
        </div>
        }
    </article>
</a>