<div class="formulario">
    <h4>Suscríbete para recibir las últimas noticias</h4>
    <form [formGroup]="miFormulario" (ngSubmit)="getDataForm()">
        <input type="email" formControlName="email" id="email" placeholder="Email">
        @if(checkControl('email', 'required') || checkControl('email', 'pattern')){
        <p class="error"><i class="fa-solid fa-circle-exclamation"></i> Introduce un email válido</p>
        }
        <div>
            @for (categoria of arrCategorias; track categoria.id; let index = $index) {

            @if(colocacion=="abajo"){
            <label class="checkLinea" [for]="categoria.nombre">
                <input class="form-check-input mx-2" type="checkbox" [id]="categoria.nombre"
                    (change)="toggleCategoria(index)">{{categoria.nombre}}</label>
            }
            @if(colocacion=="derecha"){
            <label class="checkBlock" [for]="categoria.nombre">
                <input class="form-check-input me-2" type="checkbox" [id]="categoria.nombre"
                    (change)="toggleCategoria(index)">{{categoria.nombre}}</label>
            }
            }
        </div>
        @if(miFormulario.get('categorias')?.hasError('sinCategoriaSeleccionada') &&
        (miFormulario.get('categorias')?.touched || miFormulario.get('categorias')?.dirty)) {
        <p class="error"><i class="fa-solid fa-circle-exclamation"></i> Selecciona al menos una categoría</p>
        }
        <input class="btn btn-dark" type="submit" value="Suscribirse">
    </form>
    <a class="text-end mt-2 small text-decoration-none link-secondary" [routerLink]="['/baja_suscriptor']">Baja
        suscripción</a>
</div>