.formulario {
    padding: 1rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.boton {
    background-color: black;
    color: white;
    width: 100%;
}

input[type="email"] {
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

h4 {
    font-size: 1.3rem;
    margin: 0;
}

label {
    font-size: 0.9rem;
    color: grey;
}