<div class="formulario">
    <h1>Inicio de sesión</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Nombre de usuario</label>
        </div>

        <div class="contraseña">
            <input type="password" required>
            <label>Contraseña</label>
        </div>

        <div class="registrarse">
            <input type="submit" value="Iniciar">
            Quiero <a href="#">registrarme</a>
        </div>
    </form>
</div>