header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.5rem 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5rem 0;
}