@if(isLoading){
<app-loading></app-loading>
} @else {
<header>
  <app-nav-bar></app-nav-bar>
</header>
<aside>
  <app-side-bar></app-side-bar>
</aside>
<main>
  <router-outlet />
</main>

<footer>
  <div class="contenedor">
    <div class="redes-sociales">
      <a href="https://facebook.com" target="_blank" class="icono facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="icono twitter">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="icono instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="icono linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

    <div class="enlaces">
      <a href="#about">Sobre nosotros</a>
      <a href="#contact">Contacto</a>
      <a href="#privacy">Privacidad</a>
    </div>
    <div class="copyright">
      &copy; 2024 Upgrade News. Todos los derechos reservados.
    </div>
  </div>
</footer>
}