<nav class="container">
    <a [routerLink]="['/noticias', 'home']">
        <h1>CMS Noticias</h1>
    </a>
    <ul class="flex">
        <li><a [routerLink]="['/noticias', 'home']" routerLinkActive="active">Home</a></li>
        @for (categoria of arrCategorias; track categoria.id) {
        <li><a [routerLink]="['/noticias', categoria.slug]" routerLinkActive="active">{{categoria.nombre}}</a></li>
        }
    </ul>
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <a class="boton" [routerLink]="['/login']"><i class="fa-solid fa-user"></i><span> Login</span></a>
</nav>