.flex.contenedor {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav {
    width: 100%;
}

.logoUpgrade {
    height: 3rem;
    object-fit: contain;
}

.hamburger {
    display: none;
    border: none;
    background-color: white;

    div {
        background-color: black;
        margin: 4px 0;
        width: 1.5625rem;
        height: 3px;
    }
}

h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
}

.navigation.flex {
    flex: 1;
    margin: 0;
    align-content: center;
    justify-content: flex-start;
    gap: 1rem;

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    li a {
        transition: 0.2s;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

.login {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 10px;

    transition: 0.4s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.active {
    font-weight: 700;
}

.logoUpgrade {
    width: 100px;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    /* Inicialmente fuera de lugar */
    animation: fadeIn 0.1s ease-in forwards;
    /* Duración y tipo de animación */
}

@media (width <=46.875rem) {

    .flex.contenedor {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        order: 1;
    }

    .navigation.flex {
        display: none;
    }

    .logo {
        order: 2;
    }

    .logoUpgrade {
        width: 100px;
    }

    .boton {
        order: 3;
        margin: 0;
    }

    .logout {
        span {
            display: none;
        }
    }

    .login {
        span {
            display: none;
        }
    }

    .dashboard {
        display: none;
    }

}

@media (46.9375rem <=width <=62.5rem) {
    .flex.contenedor {
        justify-content: space-between;
    }

    .logout {
        span {
            display: none;
        }
    }

    .login {
        span {
            display: none;
        }
    }

    .hamburger {
        display: block;
        cursor: pointer;
        order: 1;
    }

    .navigation.flex {
        display: none;
    }

    .logo {
        order: 2;
    }

    .logoUpgrade {
        width: 150px;
    }

    .boton {
        order: 3;
        margin: 0;
    }

    .logout {
        span {
            display: none;
        }
    }

    .login {
        span {
            display: none;
        }
    }

    .dashboard {
        display: none;
    }
}