<div class="flex contenedor">
    <a class="logo" [routerLink]="['/noticias', 'home']">
        <img class="logoUpgrade" src="./images/upgradejournallogo.png" alt="">
    </a>
    <nav class="flex navigation">
        <ul>
            <li><a [routerLink]="['/noticias', 'home']" routerLinkActive="active">Home</a></li>
            @for (categoria of arrCategorias; track categoria.id) {
            <li><a [routerLink]="['/noticias', categoria.slug]" routerLinkActive="active">{{categoria.nombre}}</a></li>
            }
        </ul>
    </nav>

    <button class="hamburger" (click)="toggleSidebar()">
        <div></div>
        <div></div>
        <div></div>
    </button>
    @if(token){
    <a class="boton dashboard" [routerLink]="['/dashboard']"><span> DASHBOARD</span></a>
    }

    @if(!token){
    <a class="boton login" [routerLink]="['/login']"><i class="fa-solid fa-user"></i><span> Iniciar Sesion</span></a>
    }

    @if(token){
    <a class="boton logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i><span>Cerrar
            Sesión</span></a>
    }

</div>