nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.hamburger {
    /* display: none; */

    div {
        background-color: black;
        margin: 2px 0;
        width: 1.5625rem;
        height: 3 px;
    }
}

ul.flex {
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.login {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 10px;

    transition: 0.4s;

    &:hover {
        background-color: black;
    }
}

nav a {
    text-decoration: none;
    color: white;
}