.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    /* Oculto por defecto */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: left 0.3s ease;
    padding: 15px;
    z-index: 1000;
}

.sidebar.open {
    top: 0;
    left: 0;
    width: 18.75rem;
    transition: left 0.3s ease;
}

.sidebar-space {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.sidebar-space.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease;
    padding: 15px;
}

.overlay {
    position: fixed;
}

.overlay.open {
    position: fixed;
    width: 100%;
    top: -59px;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.sidebar.open {
    left: 0;
    /* Visible cuando se abre */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar a.active {
    font-weight: 700;
}

ul {
    margin: 0;

    li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}


@media (46.9375rem <=width <=62.5rem) {
    .sidebar {

        left: -400px;
        /* Oculto por defecto */
        width: 400px;
    }

    .overlay {
        position: fixed;
        left: calc(100% - 400px);
        width: calc(100% - 400px);
    }

    .overlay.open {
        top: -59px;
        height: 200%;
        left: calc(100% - calc(100% - 400px));
        z-index: 1001;
    }
}