<div class="grid contenedor">
    <div class="vista-noticia">
        <figure>
            <img [src]="miNoticia?.imagen" [alt]="miNoticia?.titular">

        </figure>
        <h2>{{miNoticia?.titular}}</h2>
        <!-- Se utiliza [innerHTML] para permitir que las etiquetas <p> y otros elementos HTML que vienen en el texto de
            la base de datos se rendericen correctamente en la vista. -->
        <div [innerHTML]="miNoticia?.texto | traducirHtml"></div>
    </div>
    <aside class="widgets">
        <app-aside></app-aside>
    </aside>
</div>