.contenedor.grid {
    display: grid;
    grid-template-columns: 7fr 2fr;
    column-gap: 32px;

}

.vista-noticia {
    margin-top: 20px;
}

img {
    border-radius: .625rem;
    width: 100%;
    height: 500px;
    object-fit: cover;
}