<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        @for (noticia of arrNoticiasDestacadas; track noticia.id; let indice = $index; let primero = $first) {
        <button type="button" data-bs-target="#carouselExampleDark" [attr.data-bs-slide-to]="indice"
            [class.active]="primero" aria-current="true" [attr.aria-label]="'Slide ' + indice"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (noticia of arrNoticiasDestacadas; track noticia.id; let primero = $first) {
        <app-noticia-slider-item class="carousel-item" [class.active]="primero"
            [miNoticia]="noticia"></app-noticia-slider-item>
        }@empty {
        <h3>nada que mostrar</h3>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>