* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.formulario {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .email {
    border: none;
    position: relative;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #3498db;
}

form .email input {
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

form .password {
    position: relative;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #3498db;
}

form .password input {
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.acceder-input {
    border-radius: 10px;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: black;
    color: white;
}

.acceder-input:hover {
    background-color: silver;
    color: black;
    width: 100%;
}