<div class="login slide-up">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="getDataLogin()">

        <div class="email">
            <label class="form-label" for="loginEmail">Email:</label>
            <input class="form-control" type="email" id="loginEmail" placeholder="Introduce tu email"
                formControlName="email">
        </div>

        <div class="password">
            <label class="form-label" for="password">Contraseña:</label>
            <input class="form-control" type="password" id="password" placeholder="Introduce tu contraseña"
                formControlName="contraseña">
        </div>

        <input type="submit" value="Acceder" class="acceder-input">

    </form>
</div>