<div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="getDataLogin()">

        <div class="email">
            <label class="form-label" for="loginEmail"></label>
            <input class="form-control" type="text" id="loginEmail" placeholder="Introduce tu email"
                formControlName="email">
        </div>


        <div class="password">
            <label class="form-label" for="password"></label>
            <input class="form-control" type="password" id="password" placeholder="Introduce tu password"
                formControlName="contraseña">
        </div>

        <input type="submit" value="Acceder" class="acceder-input">
    </form>
</div>