.login {
    max-width: 600px;
    margin: 100px auto;
    padding: 1.25rem;
    border-radius: .75rem;
    background-color: #ffffff;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.login h1 {
    text-align: center;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .email {
    position: relative;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #3498db;
}

form .email input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid silver;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

form .password {
    position: relative;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #3498db;
}

form .password input {
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 0;
}

.acceder-input {
    border-radius: 10px;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: black;
    color: white;
    margin-bottom: 1.25rem;
}

.acceder-input:hover {
    background-color: silver;
    color: black;
    width: 100%;
}