/* You can add global styles to this file, and also import other style files */
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=News+Cycle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.contenedor {
    max-width: 1400px;
    margin: 0 auto;
}

.boton {
    padding: 0.5rem 1.25rem;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

nav a {
    text-decoration: none;
    color: black;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
}

aside {
    position: sticky;
    top: calc(3.6875rem);
    align-self: start;
}

.contenedor.grid {
    display: grid;
    grid-template-columns: 7fr 2fr;
    column-gap: 2rem;
    margin-bottom: 20px;
}

.estructura {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.error {
    color: red;
    font-size: 0.8rem;

    i {
        color: red;
    }
}