.slide-up {
    transform: translateY(100px);
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries */
@media (max-width: 768px) {
    .miBtn {
        min-width: 100%;
    }

    .container {
        flex-direction: column;
        width: 100vw;
    }
}