.grid {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: .9375rem;
}

@media (width <=46.875rem) {
    .grid {
        grid-template-columns: 1fr;
    }
}